*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: #fdffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.hero-container {
  background-image: url("images/house.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
}
.hero-content {
  max-width: 600px;
  position: absolute;
  left: 15%;
  top: 30%;
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
button {
  margin: 20px 5px;
  outline: none;
}
.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #fdffff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #fdffff;
}
.btn-1 {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  color: #fdffff;
  background-color: #4e5883;
  border: 2px solid #4e5883;
}
.btn-1:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.btn-1:hover {
  color: #fdffff;
  border: 2px solid #121730;
}
.btn-1:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #121730;
}
.btn-2 {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-2:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.btn-2:hover {
  color: #627196;
}
.btn-2:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #fdffff;
}
.logo {
  position: absolute;
  transform: scale(0.6);
  top: 20%;
  left: 15%;
}

.nav-bar {
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
#nav-bar-menu {
  max-width: 100%;
  display: flex;

  justify-content: flex-end;
  background-color: #4e5883;
  border-bottom: solid 0.5px #fdffff;
}

#nav-bar-list {
  flex-basis: 12%;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
#nav-bar-list a {
  display: block;
  padding: 30px 0px 30px 0px;
  font-weight: 500;
  color: #fdffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
  transition: color 0.3s ease 0s, text-shadow 0.3s ease 0s;
}
#nav-bar-list a:hover {
  color: #fdffff;
}

#nav-bar-list a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 13px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  top: 65%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s, background 0.4s ease 0s;
  width: 0;
}
#nav-bar-list a:hover:after {
  width: 100%;
  left: 0;
  background: #fdffff;
}
.whyus-section {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  color: #4e5883;
  margin: 0 auto;
  margin-bottom: 100px;
}
#icon {
  font-size: 23px;
  margin-bottom: 20px;
}
.whyustitle {
  color: #4e5883;
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 400;
}
.whyus-container-one {
  background-image: url("images/Why-Us.png");
  height: 330px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.whyus-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.whyus-content p {
  font-size: 15px;
}
.whyus-section-two {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  grid-template-rows: repeat(2, 150px);
  column-gap: 50px;
  row-gap: 30px;
}
.offers-section {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 333px); /* 3 columns */
  grid-template-rows: repeat(2, 280px); /* 3 rows  */
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  color: #627196;
}
.grid-2,
.grid-4,
.grid-6 {
  background-color: #627196;
  color: #fafafa;
}

.grid-1,
.grid-3,
.grid-5 {
  background-color: #ebebeb;
}
.fas,
.fab {
  font-size: 60px;
  margin-bottom: 10px;
}
.offers-title {
  color: #4e5883;
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 400;
}
.gallery-text h2 {
  text-align: center;
  color: #4e5883;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}
.gallery-text p {
  text-align: center;
  color: #4e5883;
  width: 300px;
  margin: 10px auto;
}
.swiper-container {
  width: 1000px;
  height: 600px;
}
.img-1 {
  background-image: url(images/enterier1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-2 {
  background-image: url(images/enterier2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-3 {
  background-image: url(images/enterier3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-button-prev {
  color: #627196;
}
.swiper-button-next {
  color: #627196;
}
.galery-container-text h2 {
  color: #4e5883;
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
}
.galery-container-text p {
  color: #4e5883;
  text-align: center;
  margin-bottom: 50px;
}
.galery-section {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.get-in-touch-section {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.get-in-touch-container {
  color: #4e5883;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-in-touch-container h2 {
  margin-bottom: 20px;
  font-size: 40px;
}
.get-in-touch-container p {
  text-align: center;
  margin-bottom: 20px;
}
.btn-3 {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  color: #121730;
  width: 150px;
  border: 2px solid #121730;
}
.btn-3:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.btn-3:hover {
  color: #fdffff;
}
.btn-3:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #121730;
}
.footer-section {
  width: 100%;
  padding: 40px;
  background-color: #4e5883;
}
.footer-div {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.company-links {
  text-decoration: none;
  color: #fdffff;

  margin-bottom: 10px;
}
.our-company-container {
  display: flex;
  flex-direction: column;
}
.footer-div h2 {
  margin-bottom: 10px;
}
.footer-div p {
  margin-bottom: 10px;
}
#menuToggle {
  display: none;
}
@media screen and (max-width: 768px) {
  #menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #121730;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: #4e5883;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .nav-bar {
    display: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;

    position: relative;
    background: #f8f8f8;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background-color: #121730;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    align-items: center;
    position: absolute;
    width: 100vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #f8f8f8;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    opacity: 0.9;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
    width: 100px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .whyus-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .whyus-container-one {
    margin-bottom: 40px;
  }
  .grid {
    grid-template-columns: repeat(2, 290px); /* 3 columns */
    grid-template-rows: repeat(3, 230px); /* 3 rows  */
  }
  .grid-2,
  .grid-3,
  .grid-6 {
    background-color: #627196;
    color: #fafafa;
  }

  .grid-1,
  .grid-4,
  .grid-5 {
    background-color: #ebebeb;
    color: #627196;
  }
  .galery-section {
    width: 100vw;
  }
  .swiper-container {
    width: 80vw;
    height: 500px;
  }
}

@media screen and (max-width: 670px) {
  .hero-container h1 {
    font-size: 40px;
  }
  .hero-container {
    padding: 0px 40px;
  }
  .hero-content {
    width: 80vw;
  }

  .whyus-section-two {
    grid-template-columns: repeat(1, 440px);
    grid-template-rows: repeat(4, 150px);
  }
  .grid {
    grid-template-columns: repeat(1, 290px); /* 3 columns */
    grid-template-rows: repeat(6, 230px); /* 3 rows  */
  }
  .grid-2,
  .grid-4,
  .grid-6 {
    background-color: #627196;
    color: #fafafa;
  }

  .grid-1,
  .grid-3,
  .grid-5 {
    background-color: #ebebeb;
    color: #627196;
  }
}
@media screen and (max-width: 550px) {
  .get-in-touch-container h2 {
    font-size: 30px;
    text-align: center;
  }
  .get-in-touch-container p {
    font-size: 15px;
  }
  .get-in-touch-container {
    width: 80vw;
    margin: 0 auto;
  }
  .footer-div h2 {
    font-size: 20px;
  }
  .footer-div p {
    font-size: 12px;
  }
  .company-links {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  .footer-div h2 {
    font-size: 13px;
  }
  .footer-div p {
    font-size: 10px;
  }
  .company-links {
    font-size: 10px;
  }
  .get-in-touch-container h2 {
    font-size: 20px;
  }
  .get-in-touch-container p {
    font-size: 13px;
  }
  .galery-container-text h2 {
    font-size: 25px;
  }
  .galery-container-text p {
    font-size: 13px;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .offers-title {
    font-size: 25px;
  }
  .whyus-section-two {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 150px);
  }
  .whyustitle {
    font-size: 25px;
  }
}
